<aside class="mobile-menu" id="mobileMenu" aria-hidden="true">
  <div class="mobile-menu-header">
    <img class="mobile-menu-logo" src="{{ site.baseurl }}/assets/img/brand/the-biker-blog-logo-light.svg" alt="TheBiker Blog" width="210" height="59">
    <button class="mobile-menu-close" id="menuClose" aria-label="Fechar menu"><i class="bi bi-x-lg" aria-hidden="true"></i></button>
  </div>
  <nav class="mobile-menu-nav">
    <a href="{{ site.baseurl }}/" class="mobile-nav-link">Início</a>
    <a href="{{ site.baseurl }}/categorias" class="mobile-nav-link">Artigos</a>
    <a href="{{ site.baseurl }}/categorias#reviews" class="mobile-nav-link">Reviews</a>
    <a href="{{ site.baseurl }}/calculadoras/" class="mobile-nav-link">Calculadoras</a>
    <a href="{{ site.baseurl }}/comparar/" class="mobile-nav-link">Comparador</a>
    <a href="https://thebikershop.com.br/" target="_blank" rel="noopener" class="mobile-nav-link mobile-nav-shop">Ir para a loja</a>
  </nav>
</aside>
<div class="mobile-overlay" id="mobileOverlay"></div>
